.vscode
.vscode-test
out
node_modules
.gitignore
tsconfig.json
**/*.map
**/*.ts
!webpack.config.js
!esbuild.js
.pnpm-store
.agent
.agents
.ai
webview-ui/src
webview-ui/node_modules
webview-ui/package.json
webview-ui/tsconfig.json
webview-ui/vite.config.ts
webview-ui/index.html

